:root {
  --header-bg-color: rgba(255, 255, 255, 0.8);
  --background-color: rgba(252, 245, 229, 1);
  --bessie-coleman: rgba(33, 33, 33, 1);
  --civil-aviator: rgba(33, 33, 33, 0.7);
  --profile-btn: rgba(33, 33, 33, 1);
  --profile-btn-hover: rgba(33, 33, 33, 0.8);
  --btn-text-color: rgba(252, 245, 229, 1);
  --thin-line-border: rgba(33, 33, 33, 0.3);
}

.closeDialog {
  width: max-content;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: transform 1ms ease;
  float: right;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.newPostDialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background: rgba(36, 35, 35, 0.6);
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  z-index: 2000;
  opacity: 1;
  backdrop-filter: blur(10px);
}
.wrapperrr {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.formm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.2rem 0;
}

input[type="text"],
input[type="url"] {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="url"]:focus {
  border-color: #080808ba;
  outline: none;
}

.submitBtn {
  cursor: pointer;
  background-color: var(--profile-btn);
  color: var(--btn-text-color);
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 1rem;
  font-weight: 400;
  transition: all 0.3s ease;
}
.submitBtn:hover {
  background-color: var(--profile-btn-hover);
}
